.top {
    display: flex;
    background: #eee;
    padding: 1rem;
}

.top ul {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    margin: 0em;
}

.top li {
    padding-left: 0.5rem;
}

.bottom {
    text-align: center;
    background: #eee;
    padding: 1rem;
}

.breadcrumb ul {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    margin: 0rem;
}

li.breadcrumb-item {
}

li.breadcrumb-item-selected {
}

.toc {
    margin: 1rem 2rem;
    padding: 0.5rem;
    background-color: #eef;
}

ul.pagination {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
}

ul.pagination li {
    padding-left: 0.5rem;
}

nav#TableOfContents ul {
    list-style-type: none;
}
